.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
env
myenv
myvenv
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

.env

*.pyc
/backend/output1.mp3
/backend/ven
/backend/app/__pycache__
/backend/app/controller/__pycache__
/backend/app/schema/__pycache__
/backend/venv
